{
  "web": {
    "client_id": "asdfjasdljfasdkjf",
    "client_secret": "1912308409123890",
    "redirect_uris": ["https://prevoz.org/simple/login/success/"],
    "auth_uri": "https://prevoz.org/api/oauth2/authorize",
    "token_uri": "https://prevoz.org/api/oauth2/token",
    "revoke_uri": "https://prevoz.org/api/oauth2/revoke"
  }
}
